HOST=0.0.0.0
PORT=1337
APP_KEYS="7stSMWbDSCXi9fqsL1LqXw==,wetCmLdJysssEaT3TmtUVg==,mihIftrsZIbmhqhh9RMlZA==,1o5UAH+Z37xka+lVcftXvg=="
API_TOKEN_SALT=KqJVerFuDTujV0elPCBFjA==
ADMIN_JWT_SECRET=IxZ10fzeFA+p6hNowibGFQ==
TRANSFER_TOKEN_SALT=3okoYutNxW+/MnFAF75QSw==
ENCRYPTION_KEY=UbLtgUZfk3SWZ2KbjeJ6MQ==

DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=admin
DATABASE_SSL=false

# Redis (zhao-channel)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# Aliyun OSS (zhao-oss) - 可选，不配置则使用本地存储
ALIYUN_OSS_REGION=
ALIYUN_OSS_ACCESS_KEY=
ALIYUN_OSS_ACCESS_SECRET=
ALIYUN_OSS_BUCKET=
ALIYUN_OSS_CNAME=